<h3>TodoItem</h3>

<div>
    <input type="checkbox" @bind="Done"/>
    <span class="@textStyle">@Text</span>
</div>

@code {
    [Parameter]
    public string Text { get; set; } = "Coding for C#";
    [Parameter]
    public bool Done { get; set; } = false;

    string textStyle => Done ? "done" : "";
}
